<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielvnguyen.moveit">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoveIt">
        <activity
            android:name=".view.homepage.IllustrationsActivity"
            android:exported="false" />
        <activity
            android:name=".view.homepage.AttributionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.IntroSlider"
            android:exported="false" />
        <activity
            android:name=".view.account.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".view.entries.DayEntryList"
            android:exported="false" />
        <activity
            android:name=".view.photoGallery.ViewPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".view.photoGallery.PhotoGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.SetThemeActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".view.homepage.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.categories.AddCategory"
            android:exported="false" />
        <activity
            android:name=".view.categories.CategoriesList"
            android:exported="false" />
        <activity
            android:name=".view.meals.AddMeal"
            android:exported="false" />
        <activity
            android:name=".view.meals.MealList"
            android:exported="false" />
        <activity
            android:name=".view.activities.ActivitiesList"
            android:exported="false" />
        <activity
            android:name=".view.activities.AddActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.StartActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.entries.AddEntry"
            android:exported="false"
            android:parentActivityName=".view.homepage.HomeActivity" />

        <receiver android:name=".model.reminder.NotificationReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.danielvnguyen.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>